@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Hammersmith One', sans-serif;
}

body {
   overflow-y: scroll;
   scroll-behavior: smooth;
   width: 100%;
   height: 100vh;
   background-image: url(/img/fundo\ site\ gradient.png);
   background-repeat: no-repeat;
   background-size: cover;
}

/* HEADER */

header {
   z-index: 5;
   position: fixed;
   display: flex;
   justify-content: space-around;
   align-items: center;
   height: 13vh;
   width: 100%;
   background: #0000004d;
   backdrop-filter: blur(10px);
}

.logo {
   transition: all ease-in-out .2s;
}

.logo:hover {
   transform: scale(1.05);
}

.poligonosInicio {
   position: absolute;
   left: 0;
   top: 0;
}

.navBar {
   margin-left: 20%;
}

ul {
   display: flex;
}

.navBar li {
   position: relative;
   list-style: none;
   color: #439AFF;
   margin-right: 54px;
   padding-bottom: 5px;
   padding-top: 5px;
}

.navBar li::after {
   content: '';
   position: absolute;
   width: 0px;
   height: 3px;
   left: 0%;
   bottom: 0;
   background-image: url(/img/mesh-326.png);
   transition: all ease-in-out .2s;
}

.navBar li:hover::after {
   width: 100%;
   left: 0;
}

.navBar li:nth-child(4) {
   margin-right: 0px;
   transition: all ease-in-out .2s;
}

.navBar li:nth-child(4):hover {
   transform: scale(1.1);
}

.navBar li:nth-child(4):hover::after {
   width: 0px;
}

.navBar li a {
   text-decoration: none;
   color: #439AFF;
   font-size: 20px;
}

li #contatoBtn {
   background: url(/img/fundoBtnContato.svg);
   color: #000000;
   padding: 7px 12px;
   border-radius: 8px;
}

/* INICIO */

#inicio {
   z-index: 4;
   display: flex;
   align-items: center;
   padding-top: 13vh;
   min-height: 100vh;
}

#inicio .esquerda {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 50%;
}

#inicio .direita {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 50%;
}

.textoInicio {
   font-size: 40px;
   color: white;
}

.tituloInicio {
   font-size: 48px;
   background-clip: text;
   -webkit-background-clip: text;
   color: transparent;
   background-image: url("/img/mesh-326.png");
}

.poligonosInicio {
   z-index: 0;
}

/* SOBRE */

#sobre {
   display: flex;
   align-items: center;
   padding-top: 13vh;
   min-height: 100vh;
   background: rgba(0, 0, 0, 0.37);
}

#sobre .esquerda {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 50%;
}

#sobre .direita {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 50%;
}

.textoSobre {
   font-size: 35px;
   color: white;
}

.linksSobre {
   margin-top: 30px;
   display: flex;
   align-items: center;
}

.linksSobre a {
   transition: all ease-in-out .2s;
}

.linksSobre a:hover {
   transform: scale(1.05);
}

.linkedin {
   margin-right: 20px;
}

/* tecnologias */

#tecnologias {
   width: 100%;
   min-height: 350px;
   padding: 20px;
}

.Ttec {
   margin-left: 5%;
}

.Tprojetos {
   margin-left: 5%;
}

.minhasTec {
   width: 70%;
   margin: auto;
   margin-top: 5%;
   display: grid;
   grid-template-columns: repeat(6, 1fr);
   grid-column-gap: 10px;
   grid-row-gap: 1em;
}

/* PROJETOS */

#projetos {
   background: rgba(0, 0, 0, 0.37);
   padding: 20px;
}

#projetos .botoes {
   margin: auto;
   width: 90%;
   margin-top: 20px;
   margin-bottom: 20px;
}

#projetos .btnActive {
   background: #439AFF;
}

#projetos .botoes button {
   position: relative;
   color: rgb(0, 0, 0);
   font-size: 16px;
   cursor: pointer;
   width: 110px;
   height: 38px;
   border-radius: 8px;
   border: none;
   background: #ffffff99;
}

/*#projetos .botoes button::before {
   content: "";
   position: absolute;
   inset: 0;
   border-radius: 8px;
   padding: 2px;
   background: radial-gradient(circle, hsla(163, 100%, 77%, 1) 0%, hsla(212, 75%, 49%, 1) 100%) border-box;
   -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
   -webkit-mask-composite: xor;
   mask-composite: exclude;
}*/

#projetos .botoes button:nth-child(1) {
   margin-right: 20px;
}

/*radial-gradient(circle, hsla(163, 100%, 77%, 1) 0%, hsla(212, 75%, 49%, 1) 100%)*/

.projetosDiv {
   display: grid;
   margin: auto;
   grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
   grid-template-rows: auto;
   grid-gap: 30px;
   max-width: 90%;
}

.cardProjeto {
   position: relative;
   width: 320px;
   height: 240px;
   object-fit: fill;
   background: url(/img/fundoCard.svg);
   border-radius: 20px;
   margin: auto;
   transition: all ease-in-out .2s;
}

.conteudoCard {
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 0;
   background: #0000004d;
   backdrop-filter: blur(10px);
   border-radius: 0 0 20px 20px;
   transition: all ease-in-out .2s;
   opacity: 0%;
}

.cardProjeto:hover {
   transform: scale(1.05);
   .conteudoCard {
      opacity: 100%;
      height: 45%;
   }
   .conteudoCard p {
      opacity: 100%;
   }
   .conteudoCard button {
      opacity: 100%;
   }
}

.conteudoCard p {
   color: rgba(255, 255, 255, 0.478);
   width: 100%;
   text-align: center;
   font-size: 25px;
   margin-top: 12px;
   opacity: 0%;
}

.conteudoCard button {
   opacity: 0%;
   position: relative;
   cursor: pointer;
   margin-top: 10px;
   margin-left: 25.5%;
   background: rgba(255, 255, 255, 0.255);
   color: rgba(255, 255, 255, 0.629);
   border: none;
   text-align: center;
   font-size: 16px;
   border-radius: 7px;
   width: 150px;
   height: 30px;
   transition: all ease-in-out .2s;
}

.conteudoCard button:hover {
   background: rgba(255, 255, 255, 0.523);
}