@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Hammersmith One', sans-serif;
}

html {
   scroll-behavior: smooth;
   overflow-x: hidden;
}

body {
   width: 100%;
   height: 100vh;
   background-image: url(/img/fundo\ site\ gradient.png);
   background-repeat: repeat-y;
   background-size: cover;
}

::-webkit-scrollbar {
   width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
   background: #001a37;
}

/* Handle */
::-webkit-scrollbar-thumb {
   background: #0051ad;
   cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
   background: #003b7d;
}

#topo {
   position: fixed;
   bottom: 30px;
   right: 30px;
   width: 60px;
   height: 60px;
   border-radius: 50%;
   background: #0000004d;
   backdrop-filter: blur(10px);
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   transition: all ease-in-out .2s;
   z-index: 5000;
}

.btnTopo {
   position: absolute;
   top: 40%;
   border: solid #439AFF;
   border-width: 0px 7px 7px 0px;
   padding: 5px;
   display: inline-block;
}

.up {
   transform: rotate(-135deg);
   -webkit-transform: rotate(-135deg);
}

/* HEADER */

header {
   z-index: 5;
   position: fixed;
   display: flex;
   justify-content: space-around;
   align-items: center;
   height: 15vh;
   width: 100%;
   transition: all ease-in-out .2s;
}

.fundoHeader {
   height: 13vh;
   background: #00000067;
   backdrop-filter: blur(8px);
}

.logo {
   transition: all ease-in-out .2s;
}

.logo:hover {
   transform: scale(1.05);
}

.poligonosInicio {
   position: absolute;
   left: 0;
   top: 0;
}

.navBar {
   margin-left: 20%;
}

ul {
   display: flex;
}

.navBar li {
   position: relative;
   list-style: none;
   color: #439AFF;
   margin-right: 54px;
   padding-bottom: 5px;
   padding-top: 5px;
}

.navBar li::after {
   content: '';
   position: absolute;
   width: 0px;
   height: 3px;
   left: 0%;
   bottom: 0;
   background-image: url(/img/mesh-326.png);
   transition: all ease-in-out .2s;
}

.navBar li:hover::after {
   width: 100%;
   left: 0;
}

.navBar li:nth-child(4) {
   margin-right: 0px;
   transition: all ease-in-out .2s;
}

.navBar li:nth-child(4):hover {
   transform: scale(1.1);
}

.navBar li:nth-child(4):hover::after {
   width: 0px;
}

.navBar li a {
   text-decoration: none;
   color: #439AFF;
   font-size: 20px;
}

li #contatoBtn {
   background: url(/img/fundoBtnContato.svg);
   color: #BFE1FD;
   padding: 7px 12px;
   border-radius: 8px;
}

.menuMobile {
   cursor: pointer;
   display: none;
}

@media (max-width: 768px) {
   .fundoHeader {
      background: #000000c7;
   }
   .navBar {
      position: fixed;
      left: -110%;
      top: 13vh;
      margin: 0;
      align-items: center;
      flex-direction: column;
      width: 100%;
      transition: .5s;
      background: #000000c7;
      backdrop-filter: blur(10px);
   }

   .navBar ul {
      text-align: center;
      flex-direction: column;
   }

   .navBar li {
      margin: 0;
      margin-top: 10px;
   }

   li #contatoBtn {
      margin-bottom: 10px;
      background: none repeat;
   }

   .navBar li::after {
      display: none;
   }

   .menuMobile {
      display: block;
   }

   .navBar.active {
      left: 0;
   }

}

/* INICIO */

#inicio {
   z-index: 4;
   display: flex;
   align-items: center;
   padding-top: 13vh;
   min-height: 100vh;
}

#inicio .esquerda {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 50%;
}

#inicio .direita {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 50%;
}

.textoInicio {
   font-size: 40px;
   color: white;
}

.tituloInicio,
.tituloSobre {
   font-size: 48px;
   background-clip: text;
   -webkit-background-clip: text;
   color: transparent;
   background-image: url("/img/mesh-326.png");
}

.tituloInicio::after {
   content: '|';
   margin-left: 8px;
   color: aqua;
   animation: barra .8s linear infinite;
}

@keyframes barra {
   from {
      opacity: 1;
   }

   to {
      opacity: 0;
   }
}

.poligonosInicio {
   z-index: 0;
}

.fotoInicio,
.fotoSobre {
   animation: flutua 4s ease-in-out infinite;
}

@keyframes flutua {

   0%,
   100% {
      transform: translateY(0px);
   }

   50% {
      transform: translateY(-12px);
   }
}

/* SOBRE */

#sobre {
   display: flex;
   align-items: center;
   min-height: 100vh;
   background: rgba(0, 0, 0, 0.37);
}

#sobre .esquerda {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 50%;
}

#sobre .direita {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 50%;
}

.textoSobre {
   width: 90%;
   text-align: justify;
   font-family: 'Nunito', sans-serif;
   font-size: 25px;
   color: white;
}

.linksSobre {
   margin-top: 30px;
   display: flex;
   align-items: center;
}

.linksSobre a {
   transition: all ease-in-out .2s;
}

.linksSobre a:hover {
   transform: scale(1.05);
}

.linkedin {
   margin-right: 20px;
}

/* tecnologias */

#tecnologias {
   width: 100%;
   min-height: 350px;
   padding: 20px;
}

.Ttec {
   margin-left: 5%;
   margin-bottom: 20px;
}

.Tprojetos {
   margin-bottom: 50px;
   margin-left: 5%;
}

.minhasTec {
   width: 70%;
   margin: auto;
   margin-top: 5%;
   margin-bottom: 40px;
   display: grid;
   grid-template-columns: repeat(6, 1fr);
   grid-column-gap: 10px;
   grid-row-gap: 1em;
}

/* PROJETOS */

#projetos {
   position: relative;
   background: rgba(0, 0, 0, 0.37);
   padding: 20px;
}

#projetos .botoes {
   margin: auto;
   width: 90%;
   margin-top: 20px;
   margin-bottom: 20px;
}

#projetos .botoes button {
   position: relative;
   color: rgb(0, 0, 0);
   font-size: 16px;
   cursor: pointer;
   width: 110px;
   height: 38px;
   border-radius: 8px;
   border: none;
   background: #ffffff99;
   transition: all ease-in-out .2s;
}

#projetos .botoes button:hover {
   transform: scale(1.05);
}

.btnActive {
   background: #439AFF;
}

/*#projetos .botoes button::before {
   content: "";
   position: absolute;
   inset: 0;
   border-radius: 8px;
   padding: 2px;
   background: radial-gradient(circle, hsla(163, 100%, 77%, 1) 0%, hsla(212, 75%, 49%, 1) 100%) border-box;
   -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
   -webkit-mask-composite: xor;
   mask-composite: exclude;
}*/

#projetos .botoes button:nth-child(1) {
   margin-right: 20px;
}

/*radial-gradient(circle, hsla(163, 100%, 77%, 1) 0%, hsla(212, 75%, 49%, 1) 100%)*/

.projetosDiv {
   display: grid;
   margin: auto;
   grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
   grid-template-rows: auto;
   grid-gap: 30px;
   max-width: 90%;
   margin-bottom: 50px;
}

.cardProjeto {
   position: relative;
   width: 320px;
   height: 240px;
   object-fit: fill;
   background: url(/img/fundoCard.svg);
   border-radius: 20px;
   margin: auto;
   transition: all ease-in-out .2s;
}

.projeto2 {
   background: url(/img/em\ desenvolvimento.svg);
}

.conteudoCard {
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 0;
   background: #0000004d;
   backdrop-filter: blur(10px);
   border-radius: 0 0 20px 20px;
   transition: all ease-in-out .2s;
   opacity: 0%;
}

.cardProjeto:hover {
   transform: scale(1.05);

   .conteudoCard {
      opacity: 100%;
      height: 45%;
   }

   .conteudoCard p {
      opacity: 100%;
   }

   .conteudoCard button {
      opacity: 100%;
   }
}

.conteudoCard p {
   color: rgba(255, 255, 255, 0.478);
   width: 100%;
   text-align: center;
   font-size: 25px;
   margin-top: 12px;
   opacity: 0%;
}

.conteudoCard button {
   opacity: 0%;
   position: relative;
   cursor: pointer;
   margin-top: 10px;
   margin-left: 25.5%;
   background: rgba(255, 255, 255, 0.255);
   color: rgba(255, 255, 255, 0.629);
   border: none;
   text-align: center;
   font-size: 16px;
   border-radius: 7px;
   width: 150px;
   height: 30px;
   transition: all ease-in-out .2s;
}

.conteudoCard button:hover {
   background: rgba(255, 255, 255, 0.523);
}

/* MODAL PROJETO */

dialog::backdrop {
   background: #0000004d;
   backdrop-filter: blur(10px);
}

dialog {
   border: none;
   outline: none;
   margin: auto;
   width: 75%;
}

.modal {
   position: relative;
   width: 100%;
   height: 450px;
   display: flex;
}

.modal .esquerda {
   display: flex;
   align-items: center;
   width: 40%;
   height: 100%;
   background: #000000;
}

.modal .direita {
   padding: 20px;
   width: 60%;
   height: 100%;
   background: rgb(18, 18, 18);
   background-repeat: no-repeat;
   background-size: cover;
   color: #ffffff;
}

.sair {
   display: none;
}

.sairModal {
   cursor: pointer;
   text-decoration: none;
   padding: 8px 15px;
   border-radius: 5px;
   color: #ffffff;
   background: #02005d;
   float: right;
}

.modal .direita .nome {
   margin-top: 20px;
   font-size: 30px;
}

.modal .direita .desc {
   font-family: 'Nunito', sans-serif;
   width: 100%;
   margin-top: 15px;
   height: 270px;
}

.modal .direita .link {
   display: flex;
   justify-content: space-between;
   margin-top: 15px;
}

.modal .direita .link nav {
   display: flex;
   width: 50%;
   justify-content: space-around;
   align-items: center;
}

.modal .direita .link nav p {
   border-radius: 5px;
   padding: 5px;
   color: #000000;
   background: #ffffff;
}

.modal .direita .link a {
   cursor: pointer;
   text-decoration: none;
   padding: 5px 10px;
   border-radius: 5px;
   background: #02005d;
}

hr {
   margin-top: 5px;
   border-color: #949494;
}

.modalYalle .esquerda img {
   object-fit: fill;
   width: 100%;
}

/* CONTATO */

#contato {
   min-height: 75vh;
}

#contato img {
   margin-top: 20px;
   margin-left: 5%;
}

.conteudoContato {
   margin-top: 50px;
   display: flex;
   align-items: center;
   justify-content: space-around;
}

.contatoForm {
   height: 300px;
}

.contatoForm input {
   font-family: 'Courier New', Courier, monospace;
   background: #00000079;
   padding: 10px;
   margin: auto;
   margin-bottom: 20px;
   width: 90%;
   border: solid 2px #005cc5;
   border-radius: 8px;
   color: white;
   height: 40px;
}

.contatoForm textarea {
   font-family: 'Courier New', Courier, monospace;
   background: #00000079;
   padding: 10px;
   color: white;
   margin: auto;
   width: 90%;
   border: solid 2px #005cc5;
   border-radius: 8px;
   min-height: 90px;
   max-height: 90px;
   max-width: 90%;
   min-width: 90%;
}

.contatoForm button {
   cursor: pointer;
   width: 90%;
   color: white;
   font-size: 17px;
   margin-top: 15px;
   height: 40px;
   background: #003b7d;
   border: none;
   border-radius: 10px;
   transition: all ease-in-out .2s;
}

.contatoForm button:hover {
   height: 43px;
}

/* FOOTER */

footer {
   display: flex;
   background: rgba(0, 0, 0, 0.37);
   padding: 30px;
   justify-content: center;
   align-items: center;
}

.footerLinks {
   margin-right: 100px;
   display: flex;
   width: 30%;
   justify-content: space-around;
}

.footerLinks li {
   list-style: none;
   margin-bottom: 5px;
}

.footerLinks li:nth-child(4) {
   margin-bottom: 0px;
}

.footerLinks li a {
   font-size: 18px;
   text-decoration: none;
   color: #003b7d;
}

.footerLinks li a:hover {
   color: #002169;
}

.linksFooter {
   display: flex;
   align-items: center;
   margin-right: 100px;
}

.linksFooter a {
   transition: all ease-in-out .2s;
}

.linksFooter a:hover {
   transform: scale(1.05);
}

footer p {
   color: #003b7d;
}

@media (max-width: 768px) {
   #inicio .esquerda {
      width: 100%;
   }

   #inicio .direita {
      display: none;
   }

   #sobre .direita {
      margin: auto;
      width: 90%;
   }

   #sobre .esquerda {
      display: none;
   }

   .textoSobre {
      width: 100%;
   }

   #tecnologias {
      min-height: 230px;
   }

   .Ttec {
      margin: auto;
   }

   .minhasTec {
      align-items: center;
      width: 90%;
   }

   .minhasTec img {
      max-width: 60px;
   }

   .Tprojetos {
      margin: auto;
      margin-bottom: 40px;
   }

   .sair {
      display: flex;
      align-items: center;
      justify-content: end;
      padding: 10px 0px;
      height: 30px;
      width: 100%;
      background: #282828;
      backdrop-filter: blur(10px);
      color: white;
   }

   .sair a {
      cursor: pointer;
      padding: 5px 8px;
      background-color: #003b7d;
   }

   .sairModal {
      display: none;
   }

   dialog .modal {
      flex-direction: column;
   }

   .modal .esquerda,
   .modal .direita {
      width: 100%;
   }


   .modal .direita .link nav {
      gap: 8px;
      justify-content: center;
      width: 100%;
      margin-bottom: 10px;
   }

   .modal .direita .link a {
      text-align: center;
      min-width: 80px;
      font-size: 12px;
      height: 26px;
      background-color: #ffffff;
      padding: 4px;
   }

   .modal .direita .link nav p {
      font-size: 12px;
   }

   #contato .esquerda img {
      max-width: 170px;
   }

   #contato .direita {
      margin-left: 50px;
   }

   footer {
      margin-left: 0;
      margin-right: 0;
      justify-content: center;
      flex-direction: column;
   }

   .footerLinks {
      margin: 0;
      gap: 15px;
   }

   .linksFooter {
      margin-right: 0;
   }
}

.logoMobile {
   display: none;
}

@media (max-width: 500px) {
   body {
      background-size: cover;
   }

   header {
      margin-left: 0;
      margin-right: 0;
      justify-content: space-around;
   }

   .tituloInicio {
      font-size: clamp(2rem, 2.25rem, 3.5rem);
   }

   .textoInicio {
      font-size: clamp(1.7rem, 2rem, 2.5rem);
   }

   .logo {
      width: 70%;
   }

   .logoMobile {
      display: none;
   }

   .Ttec {
      width: 50%;
   }

   .Tprojetos,
   .Tcontato {
      width: 40%;
   }

   .modal .link a {
      display: none !important;
   }

   .minhasTec {
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 10px;
      grid-row-gap: 1em;
      margin-top: 40px;
      margin-left: 10%;
   }

   #contato .esquerda {
      display: none;
   }

   .footerBaixo {
      display: none;
   }

}